/* Resetting some default styles for better consistency */
body,
h1,
h2,
p,
div,
footer {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, Verdana ;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0;
}

/* Header styles */
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

/* Sub-heading styles */
h2 {
    font-size: 30px;
    color: #0D0D0D;
}

/* Default paragraph styles */
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}

/* Default image styles */
img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
}

/* Default div styles */
div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

/* Introduction class styles */
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

/* Red class styles */
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
}

/* Blue class styles */
.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
}
.blue h2 {
    color:#FFFFFF;
}

/* Yellow class styles */
.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
}
.yellow p {
    color: #707070;
  }

/* Green class styles */
.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    border-bottom: 0px solid #FFFFFF;;


}

/* Footer styles */
footer {
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #FFFFFF;
}

/* Footer paragraph styles */
footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}






